

body{
  border: 50px;
}

h1 {
    text-align: center;
    color: cornflowerblue;
  }

nav {
    background-color: cornflowerblue;
    padding: 10px;
    mar
}

nav ul {
    margin: 10px;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: black;
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(253, 253, 253);
    text-decoration: none;
}

body {
  background-color: lightgray;
  text-align: center;
  margin: 50px;
}

main {
  margin-top: 20px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: white;
}


.col-sm-6, h2{
  margin-top: 20px;
  color: black;
}

.col-sm-6 h2 a{
  margin-top: 20px;
  color: black;
  
}

.col-sm-6 h2 a:hover{
  color: blue;
  
}


#places, h1{
  color: black;
  margin: 20px;
}

.row{
  margin: 20px;
}


